h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border-style: double;
    border-width: 10px;
    border-color: white;
   
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.index-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 100px auto;
    width: 50%;
    color:white !important;

    border-color: white;
    border-width: 10px;
    border-style:double;

}

body {
    background-color: #2bab15;
    color:white;
}

img {
    display:block;
    margin: 0 auto;
}

.Home {
    display:inline-block;
    border-style:solid;
    border-color:white;
    width:50px;
    color:white;
    text-align: center;
}

p{
    text-align:center;
}

ol{
    display: block;
    margin: auto;
    text-align: left;
    width: fit-content;
    padding: 0;
    
}

ul {
    display: block;
    text-align: left;
    width:fit-content;
    margin: auto;
    box-sizing: border-box;
    padding: 0;
}
